{% extends 'base.html.twig' %}

{% block title %}Edit CompanyInformation{% endblock %}

{% block body %}
    <h1>Edit CompanyInformation</h1>

    {{ include('company_information/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_information_index') }}">back to list</a>

    {{ include('company_information/_delete_form.html.twig') }}
{% endblock %}
